@model peliculas.Models.VerPorGenero

@{
    ViewData["Title"] = "Listado";
}

<h3>Listado de peliculas</h3>
<hr>

<form asp-controller="Pelicula" asp-action="Index">
    <p>
        <select asp-for="GeneroPelicula" asp-items="Model.Genero" class="form-control">
            <option value="">Mostrar todo</option>
        </select>
        <br>
       <input type="text" name="BuscarPelicula" placeholder="Ingrese el titulo de la pelicula" class="form-control" />
       <br>
        <input type="submit" value="Filtrar por titulo" class="btn btn-success btn-sm"/>
    </p>
</form>

<table class="table">
    <p>
    <a asp-action="Create" class="btn btn-primary" title="Generar pelicula"><i class="fa fa-plus"></i></a>
</p>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Estreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pelicula) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" title="Editar"><i class="fa fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm" title="Detalles"><i class="fa fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="Eliminar" onclick="return Eliminar()"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>


<script>
    function Eliminar()
    {
        if(confirm("¡Desea eliminae está pelicula?"))
            return true
        else
        return false
    }
</script>